pkgbase = python-babelfont
	pkgdesc = Interrogate and manipulate UFO, TTF and OTF fonts with a common interface
	pkgver = 2.0.2
	pkgrel = 3
	url = https://github.com/simoncozens/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-defcon
	depends = python-fontparts
	depends = python-fonttools
	source = https://files.pythonhosted.org/packages/source/b/babelfont/babelfont-2.0.2.tar.gz
	sha512sums = c012045908d6f38587c3af09aee101cf3fbea544af8e702c2259f9020c36603bb86dca1045671203cd835b0d2613d06dafd6a3392864cd51ff0183a6832e7c1f

pkgname = python-babelfont
